.card {
  margin: 20px;
  align-items: center;
  width: 250px;
  height: 300px;
  padding: 15px 15px;
  display: flex;
  cursor: pointer;
  border-radius: 50px;
  color: purple;
  border-color: pink;
  border-width: 2px;
  background-image: linear-gradient(#eebd89, #d13abd);
}

.user-id {
  text-align: right;
  font-size: 0.8rem;
  font-family: roboto;
  font-weight: bold;
  color: white;
}

.card-image-top {
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 40%;
}
.emailid {
  color: whitesmoke;
}
.title {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .card {
    font-size: 0.8rem;
    width: 60%;
  }

  .title {
    font-size: 0.9rem;
  }
}
